@import "../../variables";

.module-group {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.module-group__title {
    font-size: 1.5rem;
    font-family: $font-family-special;
    margin-bottom: 0.5rem;
}