@import "variables";

.app {
  height: 100%;
}

.app__header {
  height: $header-height;
}

.app__body {
  display: flex;
  height: calc(100% - #{$header-height});
  background: #fafafa;
  width: 100%;
}

.app__left-column {
  flex: 1;
  max-width: $sidebar-width;
  background: #eee;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.app__left-column--closed {
  margin-left: -$sidebar-width;
}

.app__right-column {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-right__top {
  flex: 1;
  max-height: 50%;
  overflow: auto;
}

.app-right__bottom {
  flex: 1;
  background: #fff;
  position: relative;
}

@media screen and (max-width: #{$breakpoint-xs}) {
  .app__header {
    height: $header-height-sm;
  }
  .app__body {
    height: calc(100% - #{$header-height-sm});
  }
  .app__left-column {
    height: calc(100% - #{$header-height-sm});
    min-width: 200px;
    position: absolute;
    z-index: 10;
  }
}

@media (max-width: #{$breakpoint-xs}) and (orientation: landscape) {
  .app__header {
    height: $header-height-xs;
  }
  .app__body {
    height: calc(100% - #{$header-height-xs});
  }
  .app__left-column {
    height: calc(100% - #{$header-height-xs});
  }
}