.style-result {
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
    margin: 0;
    background: rgb(40, 44, 52);
}

.style__block {
    color: #fafafa;
}

.style__attr {
    color: rgb(121, 182, 242);
}

.style__val {
    color: rgb(252, 146, 158);
}